body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
}

.homepage {
    min-width: 100vmin;
    min-height: 100vmin;
    background-color: rgb(66, 100, 95);
}